.highliht {
  background-color: #ef8354;
}
.highlit_text {
  color: #ef8354;
}
.dark_background {
  background-color: #2d3142;
}
.dark_text {
  color: #2d3142;
}
.light_background {
  background-color: #4f5d75;
}
.light_text {
  color: #4f5d75;
}
.grey_background {
  background-color: #bfc0c0;
}
.grey_text {
  color: #bfc0c0;
}
.text_color {
  color: #ffffff;
}

.everything {
  position: absolute;
  width: 1150px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
  cursor: url("/image/crosair2.svg") 12 12, crosshair;
}

.crosspx {
  right: 450px;
}

.inputtext {
  font-size: x-large;
}

.turretsize {
  width: 120px;
  height: 66px;
}

.bodysize {
  width: 109px;
  height: 98px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidescrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidescrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
  pointer-events: none;
}

.center_ui {
  left: 12.5%;
  top: 12.5%;
}

.center_ui2 {
  top: 12.5%;
}

.star-filled {
  color: #ffd700;
}
.star-empty {
  color: #808080;
}

:root {
  --join_color: #5e73fe85;
  --create_color: #0828fe85;
  --join_color_hoover: #5e73fe85;
  --create_color_hoover: #0828fed5;

  --guest_color: #5e73fe85;
  --account_color: #0828fe85;
  --guest_color_hoover: #5e73fe85;
  --account_color_hoover: #0828fed5;

  --radius: 10px;
}

body {
  transform: scale(0.7);
}

#notif {
  pointer-events: none;
  user-select: none; /* Propriété standard */
  position: absolute;
  left: 40%;
  top: 0%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(0.7, rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1))
  );
}

.toast {
  width: 230px;
  height: 80px;
  margin: 3px;
  color: white;
  animation: entrance 2s ease 0s 1 normal forwards,
    exit 2s ease 3s 1 normal forwards;
  overflow: hidden;
}
.toast .header {
  display: flex;
}
.toast .header img {
  margin-right: 10px;
}

.toast .title {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
}

#connection {
  background-color: rgba(0, 255, 81, 0.6);
  border: 15px solid rgba(0, 255, 81, 0.1);
}

#disconnection {
  background-color: rgba(255, 0, 0, 0.6);
  border: 15px solid rgba(255, 0, 0, 0.1);
}
#bullet {
  background-color: rgba(255, 0, 200, 0.6);
  border: 15px solid rgba(255, 0, 200, 0.1);
}
#mine {
  background-color: rgba(255, 247, 0, 0.6);
  border: 15px solid rgba(255, 247, 0, 0.1);
}

#info {
  background-color: rgba(25, 0, 255, 0.6);
  border: 15px solid rgba(25, 0, 255, 0.1);
}

.scores {
  animation: entrance 1s ease 0s 1 normal forwards;
}

@keyframes entrance {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes exit {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.fullscreen_message {
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.377);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#winner {
  display: none;
}
#draw {
  display: none;
}
#winner_message {
  display: flex;
  flex-direction: column;
}
canvas {
  user-select: none;
  z-index: -1;
}
body {
  font-family: "Poppins", sans-serif;
  -user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  background: white;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: 100%;
}
canvas {
  cursor: crosshair;
}

#connect_create {
  display: none;
}
