@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

#notif {
  user-select: none; /* Propriété standard */

  position: absolute;
  left: 40%;
  top: 0%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(0.7, rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1))
  );
}

.toast {
  width: 230px;
  height: 80px;
  border-radius: 10px;
  margin: 3px;
  color: white;
  padding-left: 10px;
}
.toast .title {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}
#connection {
  background-color: rgba(0, 255, 81, 0.453);
}

#disconnection {
  background-color: rgba(255, 0, 0, 0.453);
}
#kill {
  background-color: rgba(47, 0, 255, 0.453);
}
.row {
  display: flex;
  flex-direction: column-reverse;
}
.everything {
  position: absolute;
  width: 1150px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
#connect {
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.377);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
canvas {
  user-select: none;

  cursor: url('<svg height="24" viewBox="002424.000001" width="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><filter id="a" color-interpolation-filters="sRGB" height="1.336" width="1.336" x="-0.168" y="-0.168"><feGaussianBlur stdDeviation="1.4"/></filter><g stroke-width="0.888852"><path d="m122.0000003c-0.4073880-0.801527.2278523-1.027073.5285776-.225546.3007254-.307262.6567152-.3072621.0270734v7.1100117h-7.1100137c-0.37035820-0.7263481.08172-1.0270734.307264-.3007255.225545-.5285775.619686-.52857761.02707300.407388.2278521.801528.52857761.027073.3007253.225547.6567153.3072641.0270734.307264h7.1100137v7.110011c00.370359.08172.726349.3072621.027075.225546.300724.619685.5285771.027073.528577s.801528-0.2278531.027073-0.528577c.225547-.300725.307264-.656716.307264-1.027075v-7.110011h7.110012c.37035800.726348-.081721.027074-0.307264.300725-.225545.528577-.619685.528577-1.0270730-0.407387-.227852-.801528-.528577-1.027073-.300726-.225547-.656716-.307264-1.027074-.307264h-7.110012v-7.1100117c0-.3703582-.08172-.726348-.307264-1.0270734-.225545-.3007253-.619685-.5285775-1.027073-.5285776z" filter="url(#a)" opacity="0.2"/><path d="m122.0000003c-0.4073880-0.801527.2278523-1.027073.5285776-.225546.3007254-.307262.6567152-.3072621.0270734v7.1100117h-7.1100137c-0.37035820-0.7263481.08172-1.0270734.307264-.3007255.225545-.5285775.619686-.52857761.02707300.407388.2278521.801528.52857761.027073.3007253.225547.6567153.3072641.0270734.307264h7.1100137v7.110011c00.370359.08172.726349.3072621.027075.225546.300724.619685.5285771.027073.528577s.801528-0.2278531.027073-0.528577c.225547-.300725.307264-.656716.307264-1.027075v-7.110011h7.110012c.37035800.726348-.081721.027074-0.307264.300725-.225545.528577-.619685.528577-1.0270730-0.407387-.227852-.801528-.528577-1.027073-.300726-.225547-.656716-.307264-1.027074-.307264h-7.110012v-7.1100117c0-.3703582-.08172-.726348-.307264-1.0270734-.225545-.3007253-.619685-.5285775-1.027073-.5285776z"/><g fill="#fefefe"><path d="m12.44442711.555571v.888853h7.99967c.88885100.888851-.8888530-0.888853z"/><path d="m11.55557411.555571v.888853h-7.9996684c-0.88885210-0.8888521-.8888530-0.888853z"/><path d="m12.44437412.444379h-0.888852v7.99967c00.888851.888852.888851.8888520z"/><path d="m12.44438311.555526h-0.888853v-7.9996684c0-.8888522.888853-.8888522.8888530z"/></g></g></svg>'),
    auto;
}
body {
  cursor: url('<svg height="24" viewBox="002424.000001" width="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><filter id="a" color-interpolation-filters="sRGB" height="1.336" width="1.336" x="-0.168" y="-0.168"><feGaussianBlur stdDeviation="1.4"/></filter><g stroke-width="0.888852"><path d="m122.0000003c-0.4073880-0.801527.2278523-1.027073.5285776-.225546.3007254-.307262.6567152-.3072621.0270734v7.1100117h-7.1100137c-0.37035820-0.7263481.08172-1.0270734.307264-.3007255.225545-.5285775.619686-.52857761.02707300.407388.2278521.801528.52857761.027073.3007253.225547.6567153.3072641.0270734.307264h7.1100137v7.110011c00.370359.08172.726349.3072621.027075.225546.300724.619685.5285771.027073.528577s.801528-0.2278531.027073-0.528577c.225547-.300725.307264-.656716.307264-1.027075v-7.110011h7.110012c.37035800.726348-.081721.027074-0.307264.300725-.225545.528577-.619685.528577-1.0270730-0.407387-.227852-.801528-.528577-1.027073-.300726-.225547-.656716-.307264-1.027074-.307264h-7.110012v-7.1100117c0-.3703582-.08172-.726348-.307264-1.0270734-.225545-.3007253-.619685-.5285775-1.027073-.5285776z" filter="url(#a)" opacity="0.2"/><path d="m122.0000003c-0.4073880-0.801527.2278523-1.027073.5285776-.225546.3007254-.307262.6567152-.3072621.0270734v7.1100117h-7.1100137c-0.37035820-0.7263481.08172-1.0270734.307264-.3007255.225545-.5285775.619686-.52857761.02707300.407388.2278521.801528.52857761.027073.3007253.225547.6567153.3072641.0270734.307264h7.1100137v7.110011c00.370359.08172.726349.3072621.027075.225546.300724.619685.5285771.027073.528577s.801528-0.2278531.027073-0.528577c.225547-.300725.307264-.656716.307264-1.027075v-7.110011h7.110012c.37035800.726348-.081721.027074-0.307264.300725-.225545.528577-.619685.528577-1.0270730-0.407387-.227852-.801528-.528577-1.027073-.300726-.225547-.656716-.307264-1.027074-.307264h-7.110012v-7.1100117c0-.3703582-.08172-.726348-.307264-1.0270734-.225545-.3007253-.619685-.5285775-1.027073-.5285776z"/><g fill="#fefefe"><path d="m12.44442711.555571v.888853h7.99967c.88885100.888851-.8888530-0.888853z"/><path d="m11.55557411.555571v.888853h-7.9996684c-0.88885210-0.8888521-.8888530-0.888853z"/><path d="m12.44437412.444379h-0.888852v7.99967c00.888851.888852.888851.8888520z"/><path d="m12.44438311.555526h-0.888853v-7.9996684c0-.8888522.888853-.8888522.8888530z"/></g></g></svg>'),
    auto;
  font-family: "Poppins", sans-serif;
  user-select: none; /* Propriété standard */

  background: white;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: 100%;
}
canvas {
  cursor: crosshair;
}

.slider_nav {
  position: absolute;
}
.slider_nav_button {
  background-color: transparent;
  border: none;
}

.slider_nav_button_next {
  position: absolute;
  right: -20px;
  top: 20px;
}

.slider_nav_button_previous {
  position: absolute;
  left: 130px;
  top: 20px;
}

.slider_nav_button svg {
  width: 50px;
  height: 50px;
}

.slider_nav_button svg path {
  stroke: white;
}

.slider {
  border: 10px;
  padding: 10px;
  height: 100px;
  width: 150px;
  position: relative;
}

.slider_nav {
  position: absolute;
}

.slider_content {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.slider_item {
  min-width: 100%;
  height: 100%;
}

.slider_item img {
  width: 100%;
  height: 100%;
}
